.vendmachine {
    border: 10px solid black;
    border-radius: 7px;
    width: 400px;
    height: 550px;
    text-align: center;
}
.leftpart {
    border-right: 10px solid black;
    width: 300px;
    height: 550px;
    position: relative;
}
img {
    width: 300px;
    height: 550px;
}
.dispensing {
    position: absolute;
    top: 400px;
    right: 70px;
    border: 10px solid black;
    border-radius: 10px;
    width: 150px;
    height: 70px;
    background-color: rgb(3, 3, 3);
}
.rightpart {
    position: absolute;
    top: 90px;
    left: 328px;
    width: 90px;
    height: 550px;
    background-color: rgb(128, 126, 126);
}
.colabtn {
    position: absolute;
    left: 15px;
    top: 200px;
    width: 60px;
    height: 30px;
    border: 1px solid black;

}
.fantabtn {
    position: absolute;
    left: 15px;
    top: 250px;
    width: 60px;
    height: 30px;
    border: 1px solid black;
}
.spritebtn {
    position: absolute;
    left: 15px;
    top: 300px;
    width: 60px;
    height: 30px;
    border: 1px solid black;
}
.aquabtn {
    position: absolute;
    left: 15px;
    top: 350px;
    width: 60px;
    height: 30px;
    border: 1px solid black;
}
.aquabtn img, .colabtn img, .fantabtn img, .spritebtn img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 28px;
    width: 58px;
}
.display {
    position: absolute;
    left: 5px;
    top: 60px;
    border: 4px solid black;
    border-radius: 4px;
    background-color: rgb(41, 124, 2);
    height: 30px;
    width: 70px;
    font-size: 7px;
}
p {
    border: 1px solid black;
    background-color: rgb(224, 210, 12);
    width: 58px;
    height: 12px;
    font-size: 7px;
    padding-top: 2px; 
}
.cashslot {
    position:absolute;
    border: 1px solid rgb(235, 181, 5);
    border-radius: 5px;
    top: 120px;
    left: 15px;
    width: 70px;
    height: 50px;
    background-color: brown;
}
.cashslot #cashslot {
    position:absolute;
    border: 4px solid black;
    border-radius: 4px;
    top: 10px;
    left: 10px;
    width: 5px;
    height: 25px;
    background-color: rgb(78, 77, 77);
}
.cashslot #moneyselect {
    position:absolute;
    font-size: 8px;
    left: 24px;
    top: 5px;
}
.cashslot #money {
    position: absolute;
    font-size: 10px;
    top: 20px;
    left: 26px;
    width: 40px;
}
.moneyback {
    position: absolute;
    border: 4px solid black;
    border-radius: 5px;
    top: 400px;
    left: 25px;
    height: 50px;
    width: 30px;
    background-color: rgb(32, 32, 32);
}